.validate_container{
    width: 85%;
    padding-top: 20px;
    display: flex;
    flex-direction:row ;
    opacity: 0.8;
    font-size: 12px;
    align-items: center;
   justify-content: space-between;
   
}
.btn_o{
    background-color: #6170e5;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    border-color: #6170e5;
    color: white; 
    margin-right: 10px;
}
.btn_n{
    background-color: white;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    border-color: #fd623a;
    color: black; 
}